.post {
    margin: 20px;
    /*padding: 20px;*/
    border: 1px solid #ccc;
    border-radius: 15px;
}

.post-header-wrapper {
	margin: 0px;
	border-bottom: 1px solid #f5f5f5;
	padding-left: 10px;
	padding-right: 10px
}

.post-header-content {
	/*padding: 0px;*/
}

.post-text {
	margin: 20px;
}

.footer {
	margin-top: 30px;
}