{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Message Board</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/message_board.css' %}">
        <link rel="stylesheet" href="{% static 'flaticon/flaticon.css' %}">
    </head>

    <body>

        {% include "navbar.html" %}

        {% block content %}
        {% endblock content %}

        <div class="container footer">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        Copyright &copy; Peter Henry 2015
                    </p>
                    <div class="text-center">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> are licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
                </div>
            </div>
        </div>
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/message_board.js' %}"></script>
    </body>


</html>