{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Message Board</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/message_board.css' %}">
    </head>

    <body>

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#message-board-nav-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/main/">Board</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="message-board-nav-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">User (TODO) <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Favorite Posts (TODO)</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Logout (TODO)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        {% block content %}
        {% endblock content %}

        <div class="container footer">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        Copyright &copy; Peter Henry 2015
                    </p>
                </div>
            </div>
        </div>
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/message_board.js' %}"></script>
    </body>


</html>