{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <title>Message Board</title>

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/message_board.css' %}">
    </head>

    <body>

        {% include "navbar.html" %}

        {% block content %}
        {% endblock content %}

        <div class="container footer">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">
                        Copyright &copy; Peter Henry 2015
                    </p>
                </div>
            </div>
        </div>
        
        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/message_board.js' %}"></script>
    </body>


</html>